/*import the Workbench font*/
@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');
/*import the Roboto font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/*import the Oswald font*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

.pcnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000000;
  }

.mobilenav{
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333;
   position: fixed;
   top: 0;
   width: 100%;
  }
  
  nav ul li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
  }
  
  li a:hover {
    background-color: #111;
  }

  body{
    margin: 0;
    padding: 0;
 
  }

  p{
    margin-left: 3px;
    margin-right: 3px;
  }
  
  h1{
    text-align: center;
  }

  .navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    bottom: 0;
    position: fixed;
    width: 100%;
    font: optional;
    font-family: "Roboto";
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    overflow: hidden;
    font-size: 2em;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-size: 2em;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: #333;
  }
  
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #333;
    min-width: 1600px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2000;
    position: fixed;
    transform: translate(-13em, -19.43em);
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: white;
  }
  
  .dropdown-content a:hover {
    background-color: #111;
    
  }
  
  .show {
    display: block;
  }
 


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

  .active{
    background-color: orange;
  }

  .workbench{
    font-family: 'Workbench', sans-serif;
  }

  .roboto{
    font-family: 'Roboto', sans-serif;
  }

  .oswald{
    font-family: 'Oswald', sans-serif;
  }

  .papyrus{
    font-family: "papyrus", papyrus;
  }

  .sans{
    font-family: "Comic Sans MS", cursive;
  }